*{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body{
    background-color: rgb(240, 240, 240);
}
header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    width: 100%;
    border-bottom: 2px solid rgb(178, 177, 177);
}
.mm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ee{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orta{
    margin: 30px ;
border: 1px solid grey;
border-radius: 30px;
width: 350px;
height: 400px;
padding: 45px;
display: flex;
justify-content: space-between  ;
align-items: center;
flex-direction: column;
background-color: white;
}
.orn{
    color: orangered;
}
.abc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.opa{
    display: flex;
    justify-content: end;
    width: 100%;
}
.w1{
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;

}
input{
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(188, 188, 188);
    height: 40px;
    width: 100%;
    border-radius: 10px;
}
.im{
    height: 30px;
}
.bb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.eye{
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    left: 900px;
}
.aa{
    width: 15px;
    height: 15px;
}
.gry{
    background-color: rgb(216, 216, 216);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
        border-radius: 10px;


}
.wh{
    background-color: white;
    border-radius: 10px;
    height: 25px;
    width: 170px;
display: flex;
justify-content: center;
align-items: center;


}
.hw{
    border-radius: 10px;
    height: 25px;
    width: 170px;
display: flex;
justify-content: center;
align-items: center;

}

.ss{
    color: rgb(0, 0, 107);
}






























































































































































































